@import "./var.scss";
@import url("http://at.alicdn.com/t/font_332385_egsubm37tzpsnhfr.css");
html {
    overflow-x: hidden;
    color: $color-black;
}
body,
html {
    height: 100%;
}
a {
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $color-grey-10;
    }
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
em {
    font-style: normal;
}
.wrap {
    max-width: 1190px;
    margin: 0 auto;
}
// 浮动与清除浮动
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    zoom: 1;
}
.clearfix::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
// radio-tile
.listScreen__box {
    height: 36px;
    background: #fff;
    border: 1px solid #eaeaea;
    border-bottom: 0;
    span {
        display: inline-block;
        font-size: 13px;
    }
    .title {
        float: left;
        width: 120px;
        height: 36px;
        background: #f8f8f8;
        line-height: 36px;
        text-align: center;
    }
    &:last-child {
        border-bottom: 1px solid #eaeaea;
    }
}
// detail - supply/buy/flower
.detailBox {
    .detailBrder {
        margin: 12px 0;
        width: 100%;
        border-bottom: 1px dashed $color-grey-4;
    }
    .detailBrder1 {
        margin: 8px 0;
        width: 100%;
        border-bottom: 1px dashed $color-grey-4;
    }
    &__l {
        margin-right: 15px;
        //      width: 462px;
        .bigImg {
            box-sizing: border-box;
            width: 460px;
            height: 460px;
            border: 1px solid $color-grey-5;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
            }
        }
        // bigImg2 supply/buy
        .bigImg2 {
            width: 420px;
            height: 420px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .imgGroup {
            position: relative;
            margin: 15px 0;
            padding-left: 20px;
            img {
                padding-right: 15px;
                width: 72px;
                height: 72px;
                cursor: pointer;
                &:nth-of-type(5n) {
                    padding: 0;
                }
            }
            span {
                position: absolute;
                width: 15px;
                height: 75px;
                line-height: 75px;
                color: rgba(0,0,0,.5);
                font-size: 32px;
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                    transform-origin: 50% 50% 0;
                }
            }
            .prev {
                left: -16px;
            }
            .next {
                top: -3px;
                right: 6px;
            }

        }
        .pad {
            padding-left: 0;
            span {
                display: none;
            }
        }
        .collection {
            margin: 20px 0;
            text-align: center;
            span {
                font-size: 13px;
                color: $color-grey-9;
                cursor: pointer;
            }
            .iconfont {
                padding-right: 2px;
                color: $color-primary;
            }
        }
    }
    &__r {
        width: 712px;
        h3 {
            margin: 10px 0;
            line-height: 1.8;
            font-size: 18px;
            font-weight: bold;
            color: $color-black;
        }
        h4 {
            margin: 10px 0;
            line-height: 1.8;
            font-size: 15px;
            color: $color-black;
        }
        .detailInfo {
            p {
                color: $color-black;
                font-size: 14px;
                line-height: 36px;
                .title {
                    display: inline-block;
                    min-width: 58px;
                    color: $color-grey-7;
                }
            }
            .price {
                color: $color-grey-6;
                .priceNum {
                    color: $color-primary;
                    font-weight: 600;
                    font-size: 20px;
                    b {
                        font-size: 12px;
                    }
                }
            }
            .colorCard {
                display: inline-block;
                span {
                    vertical-align: top;
                }
                img {
                    padding-right: 5px;
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                    &:nth-of-type(9n) {
                        padding: 0;
                    }
                }
            }
        }
    }
    &__r1 {
        width: 320px;
        margin-left: 10px;
    }
}
.iconfont {
    padding: 0 4px;
    font-size: inherit;
}
