a{
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  &:hover{
    color:blue;
  }
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
