@import "./var.scss";
@import url("http://at.alicdn.com/t/font_dykqs0rfqi79zfr.css");
html{
  overflow-x: hidden;
  color:$color-black;
}
html,body{
  height: 100%;
}
a{
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
  &:hover{
    color:$color-grey-10;
  }
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.iconfont{
  padding: 0 4px;
  font-size: inherit;
}
