// 列表
@mixin menu-item {
  box-sizing: border-box;
  cursor: pointer;
  height: $item--height;
  line-height: $item--height;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
}
@mixin arrow($deg:-45deg,$width:5px) {
  display: inline-block;
  margin: 10px;
  border-right: $width solid;
  border-bottom: $width solid;
  width: $width;
  height: $width;
  transform: rotate($deg);
}
// 居中
@mixin center($margin:0) {
  display: table;
  margin: $margin auto;
}
