// **********
// 需要用的颜色
// **********
$color-danger:#FF4949;
$color-grey:grey;
$color-white:#fff;
$color-black:#fff;
// **********
// 字 体 大 小
// **********
$font-size-base: 14px;
$font-size--content: $font-size-base;
$font-size--sub: ($font-size-base - 1px);
$font-size--tip: ($font-size-base - 2px);
$font-size--title: ($font-size-base + 2px); // **********
//   高  度
// **********
$item--height: 36px;
